In [1]:
# !pip install fosforml

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
table_name = 'PLANT_GROWTH_DATA'

In [4]:
sf_df = my_session.sql("select * from {}".format(table_name))
sf_df = sf_df.randomSplit([0.8,0.2])

In [5]:
# sf_df[1].write.mode("overwrite").save_as_table("PLANT_GROWTH_DATA_TEST")

In [6]:
pandas_df = sf_df[0].to_pandas()

In [7]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(pandas_df, test_size=0.2)

In [8]:
y_train = x_train['GROWTH_MILESTONE']
x_train = x_train.drop('GROWTH_MILESTONE',axis=1)
y_train

95     0
102    1
0      0
27     0
68     0
      ..
157    1
118    0
89     1
69     1
9      0
Name: GROWTH_MILESTONE, Length: 127, dtype: int8

In [9]:
y_test = x_test['GROWTH_MILESTONE']
x_test = x_test.drop('GROWTH_MILESTONE',axis=1)
y_test

153    1
99     0
8      1
124    1
139    0
6      1
147    1
30     1
77     0
37     1
138    1
64     0
152    0
50     1
117    0
126    0
96     1
47     0
155    1
108    1
62     1
49     1
45     0
120    0
15     1
81     0
5      0
1      1
70     0
103    0
78     0
73     1
Name: GROWTH_MILESTONE, dtype: int8

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
for column in string_columns:
    le = LabelEncoder()
    x_train[column] = le.fit_transform(x_train[column])
x_train

,SOIL_TYPE,SUNLIGHT_HOURS,WATER_FREQUENCY,FERTILIZER_TYPE,TEMPERATURE,HUMIDITY
95,1,5.689000,2,0,20.800000,57.500000
102,2,4.753000,1,0,18.700000,47.400000
0,1,5.192294,0,0,31.719602,61.591861
27,0,7.051424,1,1,27.701873,79.300053
68,0,6.936717,0,1,32.168255,59.182806
...,...,...,...,...,...,...
157,2,8.273000,1,2,27.900000,69.500000
118,2,4.813000,0,0,30.000000,71.800000
89,0,6.134000,1,1,27.400000,70.300000
69,2,9.913903,1,1,23.579881,33.886732
9,1,7.739789,1,1,34.097306,32.877938

In [11]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(x_train, y_train)
model.score(x_train,y_train)*100
# model.score(x_test,y_test)*100

100.0

In [12]:
def label_encoding_function(x_train):
    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
    for column in string_columns:
        le = LabelEncoder()
        x_train[column] = le.fit_transform(x_train[column])
    return x_train

In [13]:
import pandas as pd
x_test = label_encoding_function(x_test)
y_pred =model.predict(x_test)
y_pred = pd.DataFrame(y_pred, columns=['GROWTH_MILESTONE_PREDICTION'])

In [14]:
y_pred

    GROWTH_MILESTONE_PREDICTION
0                             1
1                             0
2                             1
3                             1
4                             0
5                             1
6                             1
7                             1
8                             0
9                             1
10                            0
11                            1
12                            0
13                            1
14                            0
15                            1
16                            0
17                            0
18                            0
19                            0
20                            1
21                            1
22                            0
23                            0
24                            0
25                            1
26                            0
27                            0
28                            1
29                            0
30                            0
31                            0

In [15]:
from fosforml import register_model

register_model(
  model_obj=model,
  session=my_session,
  x_train=x_train,
  y_train=y_train,
  x_test=x_test,
  y_test=y_test,
  y_pred=y_pred,
  source="Notebook",
  dataset_name="PLANT_GROWTH_DATA",
  dataset_source="Snowflake",
  name="Plant_Growth_dataset",
  description="This is a Model for the plant growth",
  flavour="sklearn",
  model_type="classification",
  conda_dependencies=["scikit-learn==1.3.2"]
)

Calculating build time metrics

Progress: ██████████████                                                         20.0%
Calculating build time metrics

Progress: ████████████████████████████                                           40.0%

The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn<1.4'. Your UDF might not work when the package version is different between the server and your local environment.
DataFrame.flatten() is deprecated since 0.7.0. Use `DataFrame.join_table_function()` instead.
The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn<1.4'. Your UDF might not work when the package version is different between the server and your local environment.

Calculating build time metrics

Progress: ██████████████████████████████████████████                             60.0%

The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn==1.3.*'. Your UDF might not work when the package version is different between the server and your local environment.
The version of package 'snowflake-snowpark-python' in the local environment is 1.20.0, which does not fit the criteria for the requirement 'snowflake-snowpark-python'. Your UDF might not work when the package version is different between the server and your local environment.
The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn==1.3.*'. Your UDF might not work when the package version is different between the server and your local environment.
The version of package 'snowflake-snowpark-python' in the local environment is 1.20.0, which does not fit the criteria for the requirement 'snowflake-snowpark-python'. Your UDF might not work when the package version is different between the server and your local environment.

Calculating build time metrics

Progress: ████████████████████████████████████████████████████████               80.0%
Calculating build time metrics

Progress: ██████████████████████████████████████████████████████████████████████ 100.0%
Failed to set tags for model MODEL_1296587F_8DD3_416F_B389_CEF8ADBE3051_FDC_PLANT_GROWTH_DATASET.
(1304): 01b5e10e-0002-aac4-0033-ac8700b0c19e: 000002 (0A000): Unsupported feature 'TAG'.

"Model 'MODEL_1296587F_8DD3_416F_B389_CEF8ADBE3051_FDC_PLANT_GROWTH_DATASET' registered successfully."

In [16]:
sf_df = my_session.createDataFrame(x_test)
sf_df.write.mode("overwrite").save_as_table("PLANT_GROWTH_DATA_TEST")
my_session.table("PLANT_GROWTH_DATA_TEST").show()

--------------------------------------------------------------------------------------------------------------------
|"SOIL_TYPE"  |"SUNLIGHT_HOURS"   |"WATER_FREQUENCY"  |"FERTILIZER_TYPE"  |"TEMPERATURE"       |"HUMIDITY"         |
--------------------------------------------------------------------------------------------------------------------
|1            |6.127              |0                  |2                  |22.1                |55.7               |
|2            |8.902              |1                  |0                  |15.2                |43.7               |
|1            |9.17862055525356   |2                  |2                  |20.598677938918858  |54.72101523512907  |
|0            |7.512              |0                  |0                  |19.0                |61.2               |
|2            |8.721              |1                  |1                  |24.1                |55.6               |
|1            |4.444267910404542  |1                  |2                  |25.984533294122407  |69.57895218629243  |
|2            |5.233              |1                  |2                  |31.8                |47.9               |
|0            |6.462297538213779  |0                  |2                  |27.517198314284727  |34.17503583493344  |
|2            |7.214648104448551  |2                  |1                  |22.784033574683264  |75.54635922469213  |
|1            |8.822032461394688  |0                  |2                  |26.50948355751758   |35.9408958134036   |
--------------------------------------------------------------------------------------------------------------------

In [17]:
!pip install -U fosforml --no-deps

Collecting fosforml
  Downloading https://files.pythonhosted.org/packages/fe/d2/d08131cf9db64e0fc21277a3f49e6874227ceba2c4cee69a3a1f437f6304/fosforml-1.1.5-py3-none-any.whl
Installing collected packages: fosforml
  Found existing installation: fosforml 1.1.4
    Uninstalling fosforml-1.1.4:
      Successfully uninstalled fosforml-1.1.4
Successfully installed fosforml-1.1.5
WARNING: You are using pip version 19.3.1; however, version 24.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.