In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
table_name = 'FRAUD_TABLE_FULL_JOIN'

In [3]:
sf_df = my_session.sql("select * from {}".format(table_name))
sf_df = sf_df.randomSplit([0.8,0.2])

In [4]:
pandas_df = sf_df[0].to_pandas()

In [5]:
print(pandas_df.isnull().sum())

CREDIT_LIMIT                          0
ACCOUNT_OPENING_DATE                  0
LAST_LOGIN                            0
CUSTOMER_SEGMENT                      0
ACCOUNT_TYPE                          0
DEVICE_USED                           0
NAME                                  0
GENDER                                0
DOB                                   0
AGE                                   0
CUSTOMER_ID                           0
AGE_GROUP                             0
AGE_OF_ACCOUNT                        0
FREQUENCY_OF_TRANSACTIONS             0
CUSTOMER_LOYALTY_SCORE                0
NUMBER_OF_REFUNDS                     0
NUMBER_OF_CHARGEBACKS                 0
CREDIT_UTILIZATION_RATIO              0
CHANGE_IN_SPENDING_BEHAVIOR           0
TRANSACTION_VELOCITY                  0
CUSTOMER_LOYALTY_CATEGORY             0
TIME_SINCE_LAST_TRANSACTION           0
TRANSACTION_ID                        0
TIME                                  0
TRANSACTION_AMOUNT                    0
MERCHANT_RISK_SCORE                   0
DISTANCE_FROM_HOME_ADDRESS            0
DISTANCE_FROM_LAST_TRANSACTION        0
TRANSACTION_DATE                      0
TRANSACTION_TYPE                      0
MERCHANT_CATEGORY                     0
PAYMENT_METHOD                        0
TIME_OF_DAY                           0
DAY_OF_WEEK                           0
TRANSACTION_STATUS                    0
COUNTY                                0
STATE                                 0
CITY                                  0
YEAR                                  0
QUARTER                               0
MONTH                                 0
ANOMALY_SCORE                         0
FRAUD_INDICATOR                       0
SUSPICIOUS_FLAG                       0
PREVIOUS_FRAUD_REPORTS                0
CROSS_BORDER_TRANSACTION_INDICATOR    0
NEW_DEVICE_INDICATOR                  0
ANAMOLY_RISK_CATEGORY                 0
MERCHANT_RISK_CATEGORY                0
FRAUD_FLAG                            0
dtype: int64

In [6]:
df = pandas_df.drop(["CUSTOMER_ID", "TRANSACTION_ID", "TRANSACTION_DATE", "ACCOUNT_OPENING_DATE", "YEAR","TIME_OF_DAY","DAY_OF_WEEK","DISTANCE_FROM_LAST_TRANSACTION","DISTANCE_FROM_HOME_ADDRESS","TIME_SINCE_LAST_TRANSACTION","LAST_LOGIN","TIME"], axis = 1)

In [7]:
df

,CREDIT_LIMIT,CUSTOMER_SEGMENT,ACCOUNT_TYPE,DEVICE_USED,NAME,GENDER,DOB,AGE,AGE_GROUP,AGE_OF_ACCOUNT,...,MONTH,ANOMALY_SCORE,FRAUD_INDICATOR,SUSPICIOUS_FLAG,PREVIOUS_FRAUD_REPORTS,CROSS_BORDER_TRANSACTION_INDICATOR,NEW_DEVICE_INDICATOR,ANAMOLY_RISK_CATEGORY,MERCHANT_RISK_CATEGORY,FRAUD_FLAG
0,30000,Individual,Business Account,Tablet,Andrea Garcia,Female,1991-09-12,33,Young Adult,16,...,October,0.66,0,0,2,No,No,High Risk,High Risk,No
1,15000,Student,Investment Account,Desktop,Victor Ray,Male,1979-04-25,45,Adult,11,...,February,0.26,0,0,1,No,No,Medium Risk,High Risk,No
2,40000,Senior,Investment Account,Tablet,Kelli Lopez,Male,1972-04-04,52,Senior,16,...,December,0.20,0,0,0,No,Yes,Low Risk,Very High Risk,No
3,5000,Student,Checking Account,Mobile,Traci Phillips,Male,1990-10-23,34,Young Adult,29,...,January,0.03,0,1,2,Yes,Yes,Low Risk,Medium Risk,No
4,25000,Student,Investment Account,Desktop,Eric Brooks,Female,1995-01-26,29,Young Adult,4,...,October,0.56,0,0,1,Yes,No,High Risk,Very High Risk,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239869,40000,Individual,Savings Account,Tablet,Deborah White,Male,1981-12-22,43,Adult,17,...,August,0.83,0,0,0,No,No,Very High Risk,Low Risk,No
239870,10000,Business,Checking Account,Other,Carol Bishop,Male,1985-11-28,39,Adult,22,...,June,0.39,0,0,0,No,No,Medium Risk,Low Risk,No
239871,15000,Senior,Checking Account,Other,Wendy Bell,Male,1988-03-17,36,Adult,1,...,February,0.53,0,0,0,No,No,High Risk,High Risk,No
239872,5000,Senior,Investment Account,Desktop,James Austin,Male,1992-09-13,32,Young Adult,33,...,November,0.77,0,0,2,No,No,Very High Risk,Very High Risk,No
239873,25000,Senior,Savings Account,Tablet,Candice Hunt,Female,1990-03-18,34,Young Adult,30,...,May,0.29,0,0,0,No,No,Medium Risk,High Risk,No

In [ ]:
CATEGORICAL_COLUMNS = ["TRANSACTION_TYPE","MERCHANT_CATEGORY", "PAYMENT_METHOD","CUSTOMER_SEGMENT", "ACCOUNT_TYPE","DEVICE_USED","TRANSACTION_STATUS","SUSPICIOUS_FLAG","CROSS_BORDER_TRANSACTION_INDICATOR",
                       "DEGREE_CLEAN","BUSINESS_TRAVEL","ENVIRONMENT_SATISFACTION","JOB_SATISFACTION","MARITAL_STATUS","OVER_TIME","PERFORMANCE_RATING","RELATIONSHIP_SATISFACTION","WORK_LIFE_BALANCE"]
NUMERICAL_COLUMNS = ["SALARY", "SENIORITY", "TENURE_MONTHS", "MONTHS_AFTER_COLLEGE", "BIRTH_YEAR","AGE","OVERTIME_HOURS","PERCENTAGE_SALARY_HIKE"]
LABEL_COLUMNS = ["CHURN"]
DROPPED_COLUMNS = ["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_VALUE","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","POPULATION","CHURN_OTHER","CHURN_F","SUM_OF_TENURE","SUM_OF_AGE"]
OUTPUT_COLUMNS = ["PREDICTION"]